name: Docker Image CI

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag myflaskrun:$(date +%s)



     - run: docker build --tag my-image:v1 .
- name: Configure AWS Credentials
  uses: aws-actions/configure-aws-credentials@v2
  with:
    role-to-assume: arn:aws:iam::123456789012:role/push-to-ecr
    aws-region: us-west-2
- name: Push to ECR
  id: ecr
  uses: jwalton/gh-ecr-push@v2
  with:
    region: us-east-1
    image: my-image:v1
