name: Deploy to EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::429128461930:role/push-to-ecr
        aws-region: us-west-2

    - name: SSH into EC2 and deploy container
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_PUBLIC_IP }}
        username: ubuntu
        key: ${{ secrets.SSH }}
        script: |
          sudo apt update -y
          sudo apt install -y docker.io
          sudo systemctl start docker
          sudo systemctl enable docker

          aws ecr get-login-password --region us-west-2 | sudo docker login --username AWS --password-stdin 429128461930.dkr.ecr.us-west-2.amazonaws.com
          sudo docker pull 429128461930.dkr.ecr.us-west-2.amazonaws.com/myflaskrun:${{ github.sha }}
          sudo docker stop myflaskrun || true
          sudo docker rm myflaskrun || true
          sudo docker run -d -p 5000:5000 --name myflaskrun 429128461930.dkr.ecr.us-west-2.amazonaws.com/myflaskrun:${{ github.sha }}
